#main-icon .frame {
	width: 9.625rem;
	height: 9.625rem;
	border-radius: 100%;
	transition: none;
}

#main-icon img {
	height: 100% !important;
	object-fit: cover;
	object-position: center;
	width: 100% !important;
}

#main-icon .frame img {
	transition: none;
}

.image {
	display: block;
	line-height: 0;
	max-width: 100%;
	position: relative;
}

.image .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
}

.image .frame img {
	border-radius: 0 !important;
	max-width: 100%;
	vertical-align: top;
	width: inherit;
}

.image.full .frame {
	display: block;
}

.image.full:first-child .frame {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.thumbnail {
	display: block;
}

.thumbnail img {
	width: auto;
}

.caption {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

.art-blocks {
	text-align: center;
}

.art-block {
	position: relative;
	display: inline-block;
	width: calc(60%);
	margin: 0 5px 5px 0;
	vertical-align: top;
}

@media only screen and (max-width: 480px) {
	.caption {
		font-size: 12px;
		padding: 5px;
	}
}