<head>
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="description" content="woof">

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="{{.Site.BaseURL}}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ $title }}">
	<meta property="og:description" content="typing with paws is hard :3">
	<meta property="og:image" content="{{.Site.BaseURL}}images/cropped-banner.png">
	<meta name="theme-color" content="#346eeb">
  
	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="{{.Site.BaseURL}}">
	<meta property="twitter:url" content="{{.Site.BaseURL}}">
	<meta name="twitter:title" content="{{ $title }}">
	<meta name="twitter:description" content="typing with paws is hard :3">
	<meta name="twitter:image" content="{{.Site.BaseURL}}images/cropped-banner.png">

	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,400italic,700,700italic" rel="stylesheet"
		type="text/css" />
	<link rel="icon" type="image/png" href="{{.Site.BaseURL}}images/icon.png"/>
	<link rel="stylesheet" href="{{.Site.BaseURL}}css/main.css" />
</head>