{{ define "main" }}
<div id="image01" class="image" data-position="center">
    <span class="frame"><img src="{{.Site.BaseURL}}images/icon.png" alt="" /></span>
</div>
<h2 id="header">hyperdefined</h2>
<p id="subtext"><a href="{{.Site.BaseURL}}projects">Projects</a> - <a href="{{.Site.BaseURL}}art">Art Gallery</a> - <a href="{{.Site.BaseURL}}posts">Blog</a></p>
<div id="about-me">
    <p id="subtext">I'm hyperdefined, a fluffy, dumb wolf.<br>I code and play games.</p>
</div>
<div id="table01" class="table-wrapper">
    <div class="table-inner">
        <table class="table-width">
            <tbody>
                <tr>
                    <td class="left">Twitter</td>
                    <td class="right"><a href="https://twitter.com/hyperdefined">@hyperdefined</a>
                    </td>
                </tr>
                <tr>
                    <td class="left">GitHub</td>
                    <td class="right"><a href="https://github.com/hyperdefined">@hyperdefined</a>
                    </td>
                </tr>
                <tr>
                    <td class="left">Telegram</td>
                    <td class="right"><a href="https://t.me/hyperdefined">@hyperdefined</a>
                    </td>
                </tr>
                <tr>
                    <td class="left">GPG Key</td>
                    <td class="right"><a href="{{.Site.BaseURL}}hyperdefined.asc">hyperdefined.asc</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{ end }}