{{ define "main" }}
<header>
    <div id="main-icon" class="image" data-position="center">
        <span class="frame"><img src="{{.Site.BaseURL}}images/icon.png" alt="hyperdefined's icon" /></span>
    </div>
    <h2>hyperdefined - <small class="text-muted">flower doggy</small></h2>
    <p><a href="{{.Site.BaseURL}}">Home</a> - <a href="{{.Site.BaseURL}}projects">Projects</a> - <a href="{{.Site.BaseURL}}art">Art Gallery</a> - <a href="{{.Site.BaseURL}}posts">Blog</a></p>
</header>
    <p>I'm hyperdefined, a fluffy, dumb wolf. I'm a system admin and developer.</p>
    <p>I do some content creation occasionally.</p>
        <table>
            <tbody>
                <tr>
                    <td class="left">Twitter</td>
                    <td class="right"><a href="https://twitter.com/hyperdefined">@hyperdefined</a>
                    </td>
                </tr>
                <tr>
                    <td class="left">TikTok</td>
                    <td class="right"><a href="https://www.tiktok.com/@hyp3rdefined">@hyp3rdefined</a>
                    </td>
                </tr>
                <tr>
                    <td class="left">GitHub</td>
                    <td class="right"><a href="https://github.com/hyperdefined">@hyperdefined</a>
                    </td>
                </tr>
                <tr>
                    <td class="left">Telegram</td>
                    <td class="right"><a href="https://t.me/hyperdefined">@hyperdefined</a>
                    </td>
                </tr>
                <tr>
                    <td class="left">GPG Key</td>
                    <td class="right"><a href="{{.Site.BaseURL}}hyperdefined.asc">hyperdefined.asc</a>
                    </td>
                </tr>
                <tr>
                    <td class="left">Email</td>
                    <td class="right"><a href="mailto:contact@hyper.lol">contact@hyper.lol</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>You can find me on a lot of different websites with my name.</p>
{{ end }}